@model IEnumerable<Casino.AdminPortal.Web.Models.UserModel>
<p>
    
</p>

@using (Ajax.BeginForm("SearchUser", null, new AjaxOptions { UpdateTargetId = "MainElement", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, new { id = "formSearch" }))
{   
        <tr>
            <td>    Name
<input type="text" name="nameSearch" id="nameSearch" /></td>
            <td>    Contact
<input type="text" name="contactSearch" id="contactSearch" /></td>
        </tr>

        <tr>
            <td>    EmailId
<input type="text" name="emailSearch" id="emailSearch" /></td>
            <td>
                <button type="submit">Search</button></td>
        </tr>


   
}

<div id="listing"></div>

@Html.Partial("_ShowPartialView")

